<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SVG</title>

    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <style type="text/css">
        select {
          margin-bottom: 0;
        }

        .point-info {
          background-color: white;
          border: 1px solid gray;
          border-radius: 10px;
          padding: 5px;
          width: 300px;
        }

        .reload {
          float: right;
          font-size: 20px;
          font-weight: bold;
          line-height: 20px;
          color: #000000;
          text-shadow: 0 1px 0 #ffffff;
          opacity: 0.2;
          filter: alpha(opacity=20);
        }

        .reload:hover,
        .reload:focus {
          color: #000000;
          text-decoration: none;
          cursor: pointer;
          opacity: 0.4;
          filter: alpha(opacity=40);
        }
    </style>

    <script id="pointInfoTemplate" type="text/template">
        <a class="close" href="#"><i class="icon-remove"></i></a>
        <a class="reload" href="#"><i class="icon-refresh"></i></a>
        <% if(typeof label === "undefined") { %> 
          <div style="font-weight: bold">Loading...</div> 
        <% } else { %> 
          <h4><%= label %></h4> 
        <% } %>


        <% if(typeof classes === "undefined") { %> 
          <div style="font-weight: bold">Loading...</div> 
        <% } else { %> 
          <div style="font-weight: bold"> Classes: 
          <% _.each(classes, function (class_name) { %> 
            <%= class_name %>,  
          <% }); %> 
          </div> 
        <% } %>

        <br />

        <% if(typeof position === "undefined") { %> 
          <div style="font-weight: bold">Loading...</div> 
        <% } else { %> 
          <ul>
          <% var i = num_info %>
          <% _.some(_.keys(position), function (key) { %>
            <% if(i <= 0) return true; %>
            <li><span style="font-weight: bold"><%= key %></span>: 
            <% if(!Array.isArray(position[key])) {
                if(_.contains(points_only_names, position[key].toLowerCase())) { %>
                  <a href="#" class="point-link"><%= position[key] %></a></li> 
                <% } else { %> 
                  <%= position[key] %> </li> 
                <% }
              } else {
                _.each(position[key], function (position_info) {
                  if(_.contains(points_only_names, position_info.toLowerCase())) { %>
                    <a href="#" class="point-link"><%= position_info %></a>, 
                    <% } else { %> 
                      <%= position_info %>, 
                    <% }
                }) %> 
                </li> 
              <% }
              i--;
            }); %>
          </ul>
          <div class="text-center">
            <a class="btn less" href="#"><i class="icon-minus"></i></a>
            <a class="btn more" href="#"><i class="icon-plus"></i></a>
            <a class="btn btn-mini all" href="#"><i class="icon-plus"></i><i class="icon-plus"></i></a>
          </div>
          <br />
        <% } %>
        <form class="form form-inline">
          <input class="query" type="text" placeholder="Type your query please.." />
          <a class="btn send" href="#" ><i class="icon-arrow-right"></i></a>
        </form>

        <% if(typeof response !== "undefined") { %>
          <div><%= response %></div>
        <% } %>


    </script>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Gate SVG</a>
          <a href="#" id="all_points" class="btn pull-left">Toggle all points</a>
          <div class="navbar-search pull-right">
            Server status:
            <span id="server_status" class="badge badge-important">&nbsp</span>
            &nbsp
            Onthology language:
            <select id="language_select">
              <option value="en">English</option>
              <option value="cs">Czech</option>
            </select>
          </div>          
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div id="svg"></div>
        <div id="header">
          <h4 class="svg-header"></h4>
          <form class="form form-inline">
            <input class="svg-query" type="text" placeholder="Type your query please.." />
            <a class="btn send" href="#" ><i class="icon-arrow-right"></i></a>
            <span class="svg-response"></span>
          </form>
          
        </div>
    </div>    

    <script src="js/KDTree.js"></script>
    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/backbone.js"></script>
    <script src="js/libs/bootstrap.js"></script>
    <script src="js/config.js"></script>
    <script src="js/eventAggregator.js"></script>
    <script src="js/models.js"></script>
    <script src="js/views.js"></script>
    <script src="js/collections.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>